*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.score{
    position: fixed;
    top: 40px;
    color:white;
    margin-left: 10px;
}
.instruction{
    color:white;
    font-size: 32px;
    border-radius: 30px;
  
    background-color:blueviolet;
    padding: 10px;
    margin-bottom: 20px;
  
    margin-left: 60px;
    
} 
.instruction h4{
    margin-left: 100px;
}    
.highScore{
    top:10px;
    position: fixed;
    color: white;
    margin-left: 10px;
}
.canvas {
    background-color: black;
    background-image: url("./images/backgroundimage-1.jpg");
    padding: 20px;
}
.result {
    width: 50%;
    padding: 20px;
    border-radius: 40px;
    background-color:white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-family: Arial, Helvetica, sans-serif;
}

.start-game-button{
    color: white;
    width: 90%;
    padding: 10px;
    border-radius: 30px;
    font-size: 24px;
    border: none;
}
    


.result .game-over {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
   
.result h2 {
    font-size: 50px;
    font-weight: 700;
}

.result p {
    margin: 20px 0;
    color: blue;
}

.result button {
    background-color: green;
    height: 40px;
    width: 120px;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    border-radius: 10PX;
 
}

.winning h2:first-of-type {
    color: #3674B3;
    margin-bottom: 30px;
}
    


   
    

